<h1>This is main page</h1>
<%= link_to 'Tasks', tasks_path if current_user%>
<%= link_to 'Create Task', new_task_path%>
<%= link_to 'sign out', destroy_user_session_path, :method => :delete if current_user%>
